{% extends 'users/navbar.html' %}
{% block title %} Login-Blog App {% endblock title %}
{% block body %}
    <div class="container">
	<div class="row">
		<div class="col-xl-5 offset-xl-3">


			<div class="login-register-page margin-top-100 padding-top-100">
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Request Password Reset!</h3>
                    <p>Enter your email address</p>
				</div>

				<!-- Form -->
				<form method="POST">
                    {% csrf_token %}
					<div class="input-with-icon-left">
						<i class="icon-material-baseline-mail-outline"></i>
						{{ form.email }}
					</div>
                    <button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit">Reset <i class="icon-material-outline-arrow-right-alt"></i></button>

				</form>

			</div>

		</div>
	</div>
</div>
{% endblock body %}